body {
    background-color: #d777e0;
}

.container {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

.notes {
    line-spacing: 5;
}

.image {
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 16px;
    }
    .image {
        width: 60%;
    }
}